@model int
@if (Model == 1)
{
    <thead class="theadStyle">
        <tr>

            <td class="text-center" style="width: 13%">
                <label>Employee ID</label>
            </td>
            <td class="text-center" style="width: 15%">
                <label>Employee Name</label>
            </td>
            <td class="text-center" style="width: 12%">
                <label>Account Name</label>
            </td>
            <td class="text-center" style="width: 7%">
                <label>Margin</label>
            </td>

            <td class="text-center" style="width: 7%">
                <label>Starts</label>
            </td>

            <td class="tableHead text-center" style="width: 17%">
                <label>Team Comments</label><br />
                <i class='fas fa-comments' style='font-size:24px' title="Please enter the support details needed from team to achieve the goals"></i>
            </td>
            <td class="tableHead text-center" style="width: 17%">
                <label>Supervisor Comments</label><br />
                <i class='fas fa-comments' style='font-size:24px' title="Please enter the support needed from supervisor to achieve the goals"></i>
            </td>
            <td class="text-center" style="width: 10%">
                <label>Action</label>
            </td>
        </tr>

    </thead>
}
else if (Model == 2)
{
    <thead class="theadStyle">
        <tr>

            <td class="text-center" style="width: 10%">
                <label>Employee ID</label>
            </td>
            <td class="text-center" style="width: 15%">
                <label>Employee Name</label>
            </td>
            <td class="text-center" style="width: 10%">
                <label>Account Name</label>
            </td>
            <td class="text-center" style="width: 5%">
                <label>Margin</label>
            </td>
            <td class="text-center" style="width: 5%">
                <label>Starts</label>
            </td>
            <td class="text-center" style="width: 5%">
                <label>Submissions</label>
            </td>
            <td class="text-center" style="width: 5%">
                <label>Interviews</label>
            </td>
            <td class="text-center" style="width: 5%">
                <label>Hires</label>
            </td>

            <td class="tableHead text-center" style="width: 16%">
                <label>Team Comments</label><br />
                <i class='fas fa-comments' style='font-size:24px' title="Please enter the support details needed from team to achieve the goals"></i>
            </td>
            <td class="tableHead text-center" style="width: 16%">
                <label>Supervisor Comments</label><br />
                <i class='fas fa-comments' style='font-size:24px' title="Please enter the support needed from supervisor to achieve the goals"></i>
            </td>
            <td class="text-center" style="width: 8%">
                <label>Status</label>
            </td>
            <td class="text-center" style="width: 10%">
                <label>Action</label>
            </td>
        </tr>
    </thead>
}
else if (Model == 3)
{
    <thead class="theadStyle">
        <tr>

            <td class="tableHead text-center" style="width: 10%">
                <label>Employee ID</label>
            </td>
            <td class="tableHead text-center" style="width: 14%">
                <label>Employee Name</label>
            </td>
            <td class="tableHead text-center" style="width: 6%">
                <label>Margin</label>
            </td>

            <td class="tableHead text-center" style="width: 6%">
                <label>Submissions</label>
            </td>
            <td class="tableHead text-center" style="width: 6%">
                <label>Interviews</label>
            </td>
            <td class="tableHead text-center" style="width: 6%">
                <label>Hires</label>
            </td>
            <td class="tableHead text-center" style="width: 17%">
                <label>Team Comments</label><br />
                <i class='fas fa-comments' style='font-size:24px' title="Please enter the support needed from team to achieve the goals"></i>
            </td>
            <td class="tableHead text-center" style="width: 17%">
                <label>Supervisor Comments</label><br />
                <i class='fas fa-comments' style='font-size:24px' title="Please enter the support needed from supervisor to achieve the goals"></i>
            </td>
            <td class="tableHead text-center" style="width: 10%">
                <label>Status</label>
            </td>
            <td class="text-center" style="width: 8%">
                <label>Action</label>
            </td>
        </tr>
    </thead>
}
